# Telegram
TELEGRAM_BOT_TOKEN=PUT_TELEGRAM_BOT_TOKEN_HERE

# WaPilot / WhatsApp
WAPILOT_INSTANCE_ID=instance3952
WAPILOT_WEBHOOK_PATH=/webhook/wapilot
WAPILOT_PUBLIC_WEBHOOK_URL=https://favorable-erased-hatbox.ngrok-free.dev/webhook/wapilot
WAPILOT_API_URL=https://api.wapilot.net/api/v2/{instance_id}/send-message
WAPILOT_API_TOKEN=PUT_WAPILOT_API_TOKEN_HERE
